<div class="cards">
  <mat-card class="example-card" *ngFor="let user of users">
    <mat-card-header>
      <mat-card-title>{{ user.firstName + ' ' + user.lastName }}</mat-card-title>
      <mat-card-subtitle>{{ user.email }}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image
         height="230"
         [src]="user.image"
         alt="user image">
    <mat-card-content>
      <p>
        <span>Phone: </span>
        <strong>{{ user.phone }}</strong>
      </p>
      <div>
        <span>Card expire: </span>
        <strong>{{ user.bank.cardExpire }}</strong>
      </div>
      <div>
        <span>Card number: </span>
        <strong>{{ user.bank.cardNumber }}</strong>
      </div>
      <div>
        <span>Card type: </span>
        <strong>{{ user.bank.cardType }}</strong>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-stroked-button color="primary"
        (click)="onDeleteUser(user.id!)">
        Delete
      </button>
    </mat-card-actions>
  </mat-card>
</div>
